<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h1><%= @message.subject %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2">

    <%= render 'layouts/sidebar' %>

  </div>
  <div class="col-md-7">
    <div class="row post_row">
      <div class="col-md-2">
        <% find_user(@message.writer_id) %>
        <%= link_to @find_user.username, user_path(id: @message.writer_id) %>
      </div>
      <div class="col-md-10">
        <%= @message.message %>
      </div>
    </div>
    <% display_replies(@message.id) %>
    <% @replies.each do |r| %>
      <div class="row post_row">
        <div class="col-md-2">
          <%= link_to r.user.username, user_path(id: r.user.id) %>
        </div>
        <div class="col-md-10">
          <%= r.reply %>
        </div>
      </div>
    <% end %>
    <div class="row">

      <% new_reply %>
      <%= render 'replies/form' %>

    </div>
  </div>
</div>

