<%= simple_form_for @post, html: {:class => 'form-horizontal' }, method: :post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.input :posts, label: false, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }, :placeholder => "What's on your mind?" %>
  <%= f.submit 'Say it', class: 'btn btn-success' %>
<% end %>
